services:

  db:
    container_name: foodgram-db
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    container_name: foodgram-backend
    build:
      context: ../backend
      dockerfile: Dockerfile
    volumes:
      - ../backend:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    command: >
      sh -c "python manage.py makemigrations --noinput &&
             python manage.py migrate &&
             python manage.py collectstatic --noinput &&
             python manage.py load_ingredients --path food/data/ingredients.json &&
             gunicorn --bind 0.0.0.0:8000 --workers 3 foodgram.wsgi:application"

  frontend:
    container_name: foodgram-frontend
    build:
      context: ../frontend
      dockerfile: Dockerfile
    volumes:
      - ../frontend:/app/result_build/

  nginx:
    container_name: foodgram-nginx
    image: nginx:1.25.4-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ../frontend/build:/usr/share/nginx/html/
      - ../docs/:/usr/share/nginx/html/api/docs/
      - media_volume:/usr/share/nginx/html/media/
    depends_on:
      - backend
      - frontend

volumes:
  postgres_data:
  static_volume:
  media_volume: