services:
  backend:
    image: mirttgg/foodgram_backend:latest
    restart: always
    volumes:
      - static_value:/app/staticfiles/
      - media_value:/app/media/
    depends_on:
      - db
    env_file:
      - ./.env

  frontend:
    image: mirttgg/foodgram_frontend:latest
    restart: always
    volumes:
      - frontend_value:/app/staticfiles/
    command: sh -c "cp -r /app/build/* /app/staticfiles/ && echo 'Frontend files copied to shared volume' && tail -f /dev/null"

  nginx:
    image: mirttgg/foodgram_nginx:latest
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - static_value:/app/staticfiles/
      - media_value:/app/media/
      - frontend_value:/usr/share/nginx/html/
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
      - frontend

  db:
    image: postgres:16-alpine
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  static_value:
  media_value:
  frontend_value:
  pg_data: