services:
  backend:
    image: mirttgg/foodgram_backend:latest
    restart: always
    volumes:
      - static_value:/app/staticfiles/
      - media_value:/app/media/
    depends_on:
      - db
    env_file:
      - ./.env
  frontend:
    image: mirttgg/foodgram_frontend:latest
    volumes:
      - ./frontend_build:/usr/share/nginx/html/

  nginx:
    image: mirttgg/foodgram_nginx:latest
    restart: always
    ports:
      - "80:80"
    volumes:
      - static_value:/var/html/static/
      - media_value:/var/html/media/
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend

  db:
    image: postgres:16-alpine
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
volumes:
  static_value:
  media_value:
  pg_data: 
